USE [master]
GO
/****** Object:  Database [TestContactar]    Script Date: 24/6/2021 20:54:54 ******/
CREATE DATABASE [TestContactar] ON  PRIMARY 
( NAME = N'TestContactar', FILENAME = N'D:\DB\MDF\TestContactar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestContactar_log', FILENAME = N'D:\DB\LDF\TestContactar_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestContactar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestContactar]
GO
/****** Object:  Table [dbo].[ESTADOPRESTAMO]    Script Date: 24/6/2021 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOPRESTAMO](
	[CODIGO] [nvarchar](1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOPRESTAMO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUMEROS]    Script Date: 24/6/2021 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUMEROS](
	[SECUENCIAL] [int] IDENTITY(1,1) NOT NULL,
	[VALOR] [int] NULL,
 CONSTRAINT [PK_NUMEROS] PRIMARY KEY CLUSTERED 
(
	[SECUENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 24/6/2021 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[SECUENCIAL] [int] NOT NULL,
	[SECUENCIALPRESTAMO] [int] NOT NULL,
	[VALORPAGO] [decimal](18, 2) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[SALDOPRESTAMO] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 24/6/2021 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[SECUENCIAL] [int] IDENTITY(1,1) NOT NULL,
	[TIPOIDENTIFICACION] [nvarchar](3) NOT NULL,
	[IDENTIFICACION] [nvarchar](50) NOT NULL,
	[PRIMERNOMBRE] [nvarchar](50) NOT NULL,
	[SEGUNDONOMBRE] [nvarchar](50) NULL,
	[PRIMERAPELLIDO] [nvarchar](50) NOT NULL,
	[SEGUNDOAPELLIDO] [nvarchar](50) NULL,
	[ESTAACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[SECUENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMO]    Script Date: 24/6/2021 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMO](
	[SECUENCIAL] [int] IDENTITY(1,1) NOT NULL,
	[SECUENCIALPERSONA] [int] NOT NULL,
	[MONTO] [decimal](18, 2) NOT NULL,
	[ESTADO] [nvarchar](1) NOT NULL,
	[SALDO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PRESTAMO] PRIMARY KEY CLUSTERED 
(
	[SECUENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASA]    Script Date: 24/6/2021 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASA](
	[CODIGO] [nchar](10) NOT NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TASA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOIDENTIFICACION]    Script Date: 24/6/2021 20:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOIDENTIFICACION](
	[CODIGO] [nvarchar](3) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[ESTAACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TIPOIDENTIFICACION] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NUMEROS] ON 

INSERT [dbo].[NUMEROS] ([SECUENCIAL], [VALOR]) VALUES (1, 1)
INSERT [dbo].[NUMEROS] ([SECUENCIAL], [VALOR]) VALUES (2, 2)
INSERT [dbo].[NUMEROS] ([SECUENCIAL], [VALOR]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[NUMEROS] OFF
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([SECUENCIAL], [TIPOIDENTIFICACION], [IDENTIFICACION], [PRIMERNOMBRE], [SEGUNDONOMBRE], [PRIMERAPELLIDO], [SEGUNDOAPELLIDO], [ESTAACTIVO]) VALUES (1, N'CC', N'123456', N'JUAN', N'', N'PEREZ', N'', 1)
INSERT [dbo].[PERSONA] ([SECUENCIAL], [TIPOIDENTIFICACION], [IDENTIFICACION], [PRIMERNOMBRE], [SEGUNDONOMBRE], [PRIMERAPELLIDO], [SEGUNDOAPELLIDO], [ESTAACTIVO]) VALUES (2, N'CC', N'124', N'JULIAN', N'SEBASTIAN', N'RODRIGUEZ', N'LUNA', 1)
INSERT [dbo].[PERSONA] ([SECUENCIAL], [TIPOIDENTIFICACION], [IDENTIFICACION], [PRIMERNOMBRE], [SEGUNDONOMBRE], [PRIMERAPELLIDO], [SEGUNDOAPELLIDO], [ESTAACTIVO]) VALUES (3, N'CC', N'111', N'LUISA', N'FERNANDA', N'ORTIZ', N'', 1)
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
INSERT [dbo].[TASA] ([CODIGO], [VALOR]) VALUES (N'IMPAR     ', CAST(0.03 AS Decimal(18, 2)))
INSERT [dbo].[TASA] ([CODIGO], [VALOR]) VALUES (N'PAR       ', CAST(0.04 AS Decimal(18, 2)))
INSERT [dbo].[TIPOIDENTIFICACION] ([CODIGO], [NOMBRE], [ESTAACTIVO]) VALUES (N'CC', N'CEDULA', 1)
INSERT [dbo].[TIPOIDENTIFICACION] ([CODIGO], [NOMBRE], [ESTAACTIVO]) VALUES (N'RC', N'REGISTRO CIVIL', 1)
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_PRESTAMO] FOREIGN KEY([SECUENCIALPRESTAMO])
REFERENCES [dbo].[PRESTAMO] ([SECUENCIAL])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_PRESTAMO]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_TIPOIDENTIFICACION] FOREIGN KEY([TIPOIDENTIFICACION])
REFERENCES [dbo].[TIPOIDENTIFICACION] ([CODIGO])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_TIPOIDENTIFICACION]
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD  CONSTRAINT [FK_PRESTAMO_ESTADOPRESTAMO] FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADOPRESTAMO] ([CODIGO])
GO
ALTER TABLE [dbo].[PRESTAMO] CHECK CONSTRAINT [FK_PRESTAMO_ESTADOPRESTAMO]
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD  CONSTRAINT [FK_PRESTAMO_PERSONA] FOREIGN KEY([SECUENCIALPERSONA])
REFERENCES [dbo].[PERSONA] ([SECUENCIAL])
GO
ALTER TABLE [dbo].[PRESTAMO] CHECK CONSTRAINT [FK_PRESTAMO_PERSONA]
GO
USE [master]
GO
